{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block content %}
<div class="main-container-log-block">
    <header>
        <h1 class="entry-header">Blood pressure</h1>
    </header>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <table>
            {{ render_field(form.systolic, size=50) }}
            {{ render_field(form.diastolic, size=50) }}
            {{ render_field(form.heart_rate, size=50) }}
            {{ render_field(form.date, size=50) }}
            {{ render_field(form.notes, size=50) }}
        </table>
        <button>Submit</button>
    <h1 class="entry-header">Recent entries</h1>
        <table>
            <tr>
                <th class="static-table-header">Date</th>
                <th class="static-table-header">Systolic/Diastolic/Heart rate</th>
            </tr>
            {% for entry in recent %}
            <tr>
                <td class="static-table-data">{{ entry.date.strftime('%d-%b-%Y') }}</td>
                <td class="static-table-data">{{ entry.systolic }} / {{ entry.diastolic }} / {{ entry.heart_rate }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
