{% macro render_field(field) %}
    <tr {% if field.errors %} class="error" {% endif %}>
        <td class="field-label">{{ field.label }} </td>
        <td>{{ field(**kwargs)|safe }}</td>
    </tr>
    {% if field.errors: %}
    <tr class="error">
        <td></td>
            <td>
                <ul>
                    {% for error in field.errors %}
                    <li><div class="error-text">{{ error }}</div></li>
                    {% endfor %}
                </ul>
            </td>
    </tr>
    {% endif %}
{% endmacro %}