<ul>
    {% for bookmark in bookmarks %}
        <li>
            <div class="bookmarkitem">
                <a href="{{ bookmark.url }}">
                    {{ bookmark.url|truncate(20, killwords=True) }}
                </a>
                <br>
                    {{ bookmark.description|truncate(200, killwords=False) }}
                <br>
                Added by
                    <a href="{{ url_for('user_bookmarks', username=bookmark.user.username) }}">
                    {{ bookmark.user.username }}
                </a>
                    {{ moment(bookmark.date).fromNow() }}.
                <br>
                {% if current_user == bookmark.user %}
                    <a href="{{ url_for('edit_url', bookmark_id=bookmark.id) }}">
                    Edit bookmark
                    </a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>