{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block page_title %}
Thermos -- User Signup
{% endblock %}

{% block title_bar %}
Thermos - User Signup
{% endblock %}

{% block content %}
    <header>
            <h1>{{ title_bar }}</h1>
    </header>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <table>
            {{ render_field(form.username, size=50) }}
            {{ render_field(form.email, size=50) }}
            {{ render_field(form.password, size=50) }}
            {{ render_field(form.password2, size=50) }}
            {{ render_field(form.submit) }}
        </table>
    </form>

{% endblock %}
