{% extends "base.html" %}

{% block page_title %}
Thermos -- Bookmarks for user {{ user.username }}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ title_bar }}</h1>
            <p>This is an application for storing bookmarks.</p>
            <p>Bookmarks for user {{ user.username }}</p>
        </header>
        <section>
            <h2>Bookmarks</h2>
            {% if all_bookmarks.count() > 0 %}
                {% with bookmarks=all_bookmarks %}
                    {% include "bookmark_list.html" %}
                {% endwith %}
            {% else %}
                <p>No bookmarks yet</p>
            {% endif %}
        </section>
        <footer>
            <h3>article footer h3</h3>
        </footer>
    </article>
{% endblock %}
