@@ -8,10 +8,10 @@
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../static/css/normalize.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>

    <body>
@ -19,10 +19,10 @@
        <div class="header-container">
            <header class="wrapper clearfix">

                <h1 class="title">Thermos</h1>
                <a href="{{ url_for('index') }}"><h1 class="title">Thermos</h1></a>
                <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="{{ url_for('add') }}">Add</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
@ -50,8 +50,8 @@
        </div>
        {% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>

        <script src="../static/js/main.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>