:root {
    --navbar-bg-color: #D2CFD8;
    --title-color: #0F0E11;
    --header-bg-color: #D2CFDC;
    --header-bg-bottom-color: #474863;
    --sidebar-link-color: #474863;
    --sidebar-border-color: #C1C2CB;
    --menubar-link-color: #474863;
    --menu-link-hover-color: #D6D6DC;
    --menu-link-hover-bg-color: #4B3F72;
}
