.left-panel {
  width: 150px;
  height: calc(100% - 10px);
  position: fixed;
  /*border: 1px solid blue;*/
}

.logo {
  width: 150px;
  height: 100px;
  position: fixed;
  /*border: 1px dotted blue;*/
}

.navbar {
  height: calc(100% - 104px);
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 102px;
  overflow-x: hidden; /* Disable horizontal scroll*/
  /*border: 1px solid red;*/
}

.main-container {
  left: 150px;
  padding-left: 150px;
  position: fixed;
  width: calc(100% - 160px);
  height: 100%;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center center;
  /*border: 1px solid red;*/
}

.menubar {
  position: fixed;
  right: 0px;
  z-index: 1;
  /*border: 1px solid black;*/
}

.main {
  position: absolute;
  top: 55px;
  left: 0px;
  padding-top: 35px;
  width: calc(100% - 155px);
  height: calc(100% - 100px);
  /*border: 1px solid orange;*/
}

.footer-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5px;
}

.logo {
  background-color: var(--title-bg-color);
  border-bottom: 1px solid var(--title-border-color);
}

.logo a, .logo a:hover, .logo a:active, .logo a:visited, .logo a:focus {
  text-decoration: none;
  font: italic bold 48px 'Script MT', serif;
  color: var(--title-color);
}

.menubar a, .navbar a {
  display: block;
  padding: 8px;
  margin: 0px 4px 3px 3px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--menu-link-color);
}

.menubar a {
  text-align: center;
  float: right;
  border: 1px solid var(--menu-border-color);
  border-radius: 5px 5px 5px 5px;
}

.navbar a {
  text-align: left;
  float: none;
  border-top: 1px solid var(--menu-border-color);
}

.menubar a:hover, .navbar a:hover {
  color: var(--menu-link-hover-color);
  background: var(--menu-link-hover-bg-color);
}

html {
  font: 'Arial';
}

body {
  font: 16px/26px Calibri, Helvetica Neue, Arial;
}

.error-text {
  color: red;
}

.form-field-label {
  padding: 2px 5px;
  background-color: var(--form-label-bg-color);
  color: var(--form-label-color);
  border-top: 1px solid var(--form-label-color);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.form-field {
  padding: 2px 5px;
  width: 50px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type=text] {
  width: 150px;
}

.static-table-data {
  color: var(--static-table-data-color);
  border: 1px solid var(--static-table-data-border-color);
  padding: 0px 4px 0px 4px;
}

.static-table-header {
  padding: 2px 5px;
  color: var(--static-table-header-color);
  background-color: var(--static-table-header-bg-color);
  border: 1px solid var(--static-table-header-border-color);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*** index.html ***/
.main-container-text-block {
  width: 350px;
  height: 100%;
  /*border: 1px solid blue;*/
}

.main-container-text-block-text {
  margin-left: 100px;
  margin-top: 45px;
  color: var(--main-container-text-block-text-color);
}

/*** logging pages ***/
.main-container-log-block {
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  /*border: 1px solid blue;*/
}